.leaflet-control-measure h3,
.leaflet-measure-resultpopup h3 {
    margin: 0 0 12px 0;
    padding-bottom: 10px;
    line-height: 1em;
    font-weight: normal;
    font-size: 1.1em;
    border-bottom: solid 1px #DDD;
    color: #333 !important; /* Dunkle Überschrift */
}

.leaflet-control-measure p,
.leaflet-measure-resultpopup p {
    margin: 10px 0 0;
    line-height: 1em;
    color: #333 !important; /* Dunkler Text */
}

.leaflet-control-measure p:first-child,
.leaflet-measure-resultpopup p:first-child {
    margin-top: 0
}

.leaflet-control-measure a,
.leaflet-measure-resultpopup a {
    color: #005bb7 !important;
    text-decoration: none
}

.leaflet-control-measure a:hover,
.leaflet-measure-resultpopup a:hover {
    opacity: 0.5;
    text-decoration: none
}

.leaflet-control-measure .tasks,
.leaflet-measure-resultpopup .tasks {
    margin: 12px 0 0;
    padding: 10px 0 0;
    border-top: solid 1px #DDD;
    list-style: none;
    list-style-image: none
}

.leaflet-control-measure .tasks li,
.leaflet-measure-resultpopup .tasks li {
    display: inline;
    margin: 0 10px 0 0
}

.leaflet-control-measure .tasks li:last-child,
.leaflet-measure-resultpopup .tasks li:last-child {
    margin-right: 0
}

.leaflet-control-measure .coorddivider,
.leaflet-measure-resultpopup .coorddivider {
    color: #999
}


.leaflet-control-measure {
    /* Dein Regenbogen-Verlauf */
    background: linear-gradient(45deg, #f39c12, #e74c3c, #9b59b6, #3498db, #2ecc71) !important;
    padding: 2px; /* Das erzeugt den bunten Rand-Effekt */
    border-radius: 12px !important;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    border: none !important;
    overflow: hidden !important;
}
.leaflet-control-measure .leaflet-control-measure-toggle,
.leaflet-control-measure .leaflet-control-measure-toggle:hover {
    display: block;
    width: 32px;  /* Etwas kleiner, damit der Rand Platz hat */
    height: 32px; /* Etwas kleiner, damit der Rand Platz hat */
    background-position: 50% 50%;
    background-image: url(images/rulers.png) !important;
    background-repeat: no-repeat;
    background-color: white !important;
    border-radius: 10px !important;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    /* Damit das Lineal-Icon (Bild) weiß leuchtet: */
   
    margin: 1px; /* Abstand zum Regenbogen-Rand */
}

.leaflet-retina .leaflet-control-measure .leaflet-control-measure-toggle,
.leaflet-retina .leaflet-control-measure .leaflet-control-measure-toggle:hover {
    background-image: url(images/rulers.png) !important;
    background-size: 16px 16px
    background-color: white !important; 
    border-radius: 10px !important;           /* Rund machen */
    overflow: hidden !important;              /* Ecken abschneiden */
}

/* Korrektur für Touch-Geräte/moderne Browser */
.leaflet-touch .leaflet-control-measure .leaflet-control-measure-toggle,
.leaflet-touch .leaflet-control-measure .leaflet-control-measure-toggle:hover {
    width: 32px !important;        /* Zurück auf deine Wunschgröße */
    height: 32px !important;
    background-color: white !important; 
    border-radius: 10px !important;           /* Rund machen */
    overflow: hidden !important;              /* Ecken abschneiden */
}

.leaflet-control-measure .startprompt h3 {
    margin-bottom: 10px
}

.leaflet-control-measure .startprompt .tasks {
    margin-top: 0;
    padding-top: 0;
    border-top: 0
}

.leaflet-control-measure .leaflet-control-measure-interaction {
    padding: 10px 12px;
    background-color: white !important; /* Weißer Hintergrund */
    color: #333 !important;            /* Dunkle Schrift für den Text */
    margin: 1px !important;  
    border-radius: 10px !important; /* Etwas kleinerer Radius als der Außenrand (12px) */
}

.leaflet-control-measure .results .group {
    margin-top: 10px;
    padding-top: 10px;
    border-top: dotted 1px #eaeaea
}

.leaflet-control-measure .results .group:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: 0
}

.leaflet-control-measure .results .heading {
    margin-right: 5px;
    color: #999
}

.leaflet-control-measure a.start {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-image: url(images/start.png)
}

.leaflet-retina .leaflet-control-measure a.start {
    background-image: url(images/start_@2X.png);
    background-size: 12px 12px
}

.leaflet-control-measure a.cancel {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-image: url(images/cancel.png)
}

.leaflet-retina .leaflet-control-measure a.cancel {
    background-image: url(images/cancel_@2X.png);
    background-size: 12px 12px
}

.leaflet-control-measure a.finish {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-image: url(images/check.png)
}

.leaflet-retina .leaflet-control-measure a.finish {
    background-image: url(images/check_@2X.png);
    background-size: 12px 12px
}

.leaflet-measure-resultpopup a.zoomto {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-image: url(images/focus.png)
}

.leaflet-retina .leaflet-measure-resultpopup a.zoomto {
    background-image: url(images/focus_@2X.png);
    background-size: 12px 12px
}

.leaflet-measure-resultpopup a.deletemarkup {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-image: url(images/trash.png)
}

.leaflet-retina .leaflet-measure-resultpopup a.deletemarkup {
    background-image: url(images/trash_@2X.png);
    background-size: 11px 12px
}















