ul.photon-autocomplete {
    position: absolute;
    background-color: white !important; /* Weiß statt Dunkel */
    color: #333 !important;             /* Dunkle Schrift */
    max-width: fit-content;
    z-index: 1000;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    display: none;
    margin: 0;
    list-style-type: none;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    border: 1px solid #ddd !important;
    border-radius: 0 0 10px 10px;
}
.photon-autocomplete li {
    min-height: 20px;
    line-height: 1.2em;
    padding: 8px 12px;
    color: #333 !important;             /* Textfarbe auf Dunkel ändern */
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 0.9em;
    border-bottom: 1px solid #eee !important;
}
.photon-autocomplete li strong {
    display: block;
    
}
.photon-autocomplete li.on {
    background-color: #f0f0f0 !important; /* Hellgrau statt Dunkelgrau */
    cursor: pointer;
}
}
.photon-autocomplete li.photon-no-result {
    text-align: center;
    color: #666;
    font-size: 0.9em;
    line-height: 20px;
    width: fit-content;
    block-size: fit-content;
}
.photon-autocomplete .photon-feedback {
    display: block;
    text-align: right;
    font-size: 0.8em;
    padding: 3px;
    color: #999;
    border-top: 1px solid #eee;
}
.photon-input:focus {
    width: 400px;
    border-radius: 10px !important;
    outline: none !important;
    margin: 4px 6px 4px 0 !important;
}
@media all and (max-width:500px){
    #map .photon-input:focus {
        width: 300px;
        border-radius: 10px !important;
        outline: none !important;
        margin: 4px 6px 4px 0 !important;
    }
}
@media all and (max-width:400px){
   #map ul.photon-autocomplete {
        position: relative;
        background-color: white !important; /* Weiß statt Dunkel */
        color: #333 !important;             /* Dunkle Schrift */
        max-width: 400px; /* 'px' korrigiert */
        z-index: 1000;
        box-shadow: 0 4px 9px rgba(0,0,0,0.5);
        display: none;
        margin: 0;
        list-style-type: none;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
    }
    #map .photon-input:focus {
        width: 200px;
        border-radius: 10px !important;
        outline: none !important;
        margin: 4px 6px 4px 0 !important;
    }
}
@media all and (max-width:280px){
    #map .photon-input:focus {
        width: 150px;
        border-radius: 10px;
    }

}

